:root {
    --poppins: 'Poppins', sans-serif;
}
#editForm, #addForm {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    background-color: #e9f2f6;
    padding: 20px 20px 30px 20px;
    border: 1px solid #848282;
    border-radius: 20px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#editForm label, #addForm label {
    align-self: center;
}

#editForm input, #editForm textarea, 
#addForm input, #addForm textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#editForm #editSummary, #addForm #summary {
    min-height: 100px;
}

#editForm #editDescription, #addForm #description {
    min-height: 150px;
}

.form-buttons {
    grid-column: span 2;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}
.form-buttons button {
    margin: auto 20px;
    width: 70px;
}

#editModal, #addModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--poppins);
    z-index: 2001;
}

#add-historical-site {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color:#fff;
    background-color: #3C91E6;
    cursor: pointer;
    position: absolute;

    top: 0%;
    left: 87%;
}

#add-historical-site:hover {
    background-color: #2681dd;

}

.title {
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px 0 8px 0;
}
